
.vs/CompilerAssistant/v16/.suo
.vs/SableCC_CompilerAssisten/v16/.suo
.vs/SableCC_CompilerAssisten/v16/Server/sqlite3/storage.ide
SableCC_CompilerAssisten/bin/Debug/SableCC_CompilerAssisten.pdb
SableCC_CompilerAssisten/packages.config
*.ide-shm
*.ide-wal
*.ide
*.sqlite
*.pdb
*.exe
*.cache
*.txt
*.json
*.ide
*.dll
*.xml
*.p7s
*.nupkg
*.ide
*.targets
*.cache
*.config

